{% extends 'base.html' %}

{% block content %}
<h1 class="">{% block title %} Manage users {% endblock %}</h1>
<div class="card mb-4 mt-4">
    <div class="card-body">
        <form action="{{ url_for('users.manage') }}" method="GET">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input type="text" name="search_entry" class="form-control" placeholder="User name"
                    aria-label="Username" aria-describedby="basic-addon1" onchange="this.form.submit()"
                    value="{{ search_entry }}">
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body p-0 m-0">
        <table class="table object-list m-0" style="width: 100%;">
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}
                        {% if user.role == 1 %}
                        <i class="fa-solid fa-crown"></i>
                        {% endif %}
                    </td>
                    <td>{{ source_count[user.id] }}</td>
                    <td>
                        <form action="{{ url_for('users.delete', id=user.id) }}" method="POST">
                            <button type="submit" class="btn-icon">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                    {% endfor %}
                <tr>
                    <td colspan="5" class="td-btn">
                        <button type="button" class="btn-icon" data-toggle="modal" data-target="#addUserModal">
                            <i class="fa-solid fa-plus m-3"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('users.add') }}" method="POST">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="name" placeholder="Name"
                            autofocus="">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="number" name="max_sources"
                            placeholder="Max sources" autofocus="">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}