{% extends 'base.html' %}

{% block content %}
<h1 class="">{% block title %} Search Engine {% endblock %}</h1>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <h4 class="card-title">Sending video data to RabbitMQ</h4>
    </div>
    <div class="card-body status-{% if is_opened %}active{% else %}paused{% endif %}">
        {% if is_opened %}
        <p class="card-text">Active</p>
        {% else %}
        <p class="card-text">Paused</p>
        {% endif %}
    </div>
    <div class="card-footer">
        <form action="{{ url_for('search.rabbitmq_start') }}" method="POST">
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block mb-3">Start</button>
        </form>
        <hr>
        <form action="{{ url_for('search.rabbitmq_stop') }}" method="POST">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Stop</button>
        </form>
    </div>
</div>

<div class="card mb-4 mt-4">
    <form action="{{ url_for('search.rabbitmq_set_credentials') }}" method="POST">
        <div class="card-header">
            <h4 class="card-title">Set RabbitMQ Credentials</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="rabbitmq_username" name="rabbitmq_username"
                    placeholder="RabbitMQ Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="rabbitmq_password" name="rabbitmq_password"
                    placeholder="RabbitMQ Password">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-dark btn-lg btn-block">Set credentials</button>
        </div>
    </form>
</div>
{% endblock %}