{% extends 'base.html' %}
{% block title %} {{source.name}} {% endblock %}
{% block content %}
<div class="card">
    {% if frame %}
    <div class="card-header">
        <img src="data:image/png;base64,{{ frame }}" class="img-fluid rounded" alt="Responsive image">
    </div>
    {% endif %}
    <div class="card-body status-{{ status.lower() }} ">
        <b>Name:</b> {{ source.name }}<br>
        <b>URL:</b> {{ source.url }}<br>
        <b>Status:</b> {{ status }}<br>
        <b>Status message:</b> {{ source.status_msg }}<br>
    </div>
    <div class="card-footer">
        <div class="calendar">
            <table class="table table-sm m-0">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">Mon</th>
                        <th scope="col" class="col-1">Tue</th>
                        <th scope="col" class="col-1">Wed</th>
                        <th scope="col" class="col-1">Thu</th>
                        <th scope="col" class="col-1">Fri</th>
                        <th scope="col" class="col-1">Sat</th>
                        <th scope="col" class="col-1">Sun</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in calendar %}
                    <tr>
                        {% for day in row %}
                        <td>
                            <div class="day-status" style="background-color: {{ day['color'] }}">
                                {% if day['day'] %}
                                <p>{{ day['day'] }}</p>
                                {% endif %}
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}